@model Kanopy.Models.IndexViewModel

<div class="content-wrapper bg-gradient-gray-dark">
    <div class="container">

        <div>
            <hr />
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/Template/img/user2-160x160.jpg"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-muted text-center">Tara</h3>

                            <p class="text-muted text-center">Software Engineer</p>

                            @*<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>Change Name:</dt>
                <dd>
                    [
                    @Html.ActionLink("Change your name", "ChangeName")
                    ]

                </dd>
            </dl>
        </div>
    </div>
</div>
